---
import { Image } from "astro:assets";
import potentialBg from "../../../public/assets/potentialBg.svg";
import potentialBg1 from "../../../public/assets/potentialBg1.svg";
import letsTalk from "../../../public/assets/letsTalk.svg";
import ptImg1 from "../../../public/assets/ptImg1.png";
import ptImg2 from "../../../public/assets/ptImg2.png";
import ptImg3 from "../../../public/assets/ptImg3.png";
---

<section
	class='bg-[#F2F4F7] relative text-center lg:px-40 md:px-10 px-6 lg:py-24 md:py-[72px] py-16 text-[#1D2939] font-noto-sans'>
	<div class='space-y-6'>
		<h1 class='lg:text-[64px] md:text-[48px] text-[32px] font-Red-Hat'>
			Our Palette of <span class='text-[#FF601F]'>Corporate </span> Video Services
		</h1>
		<p class='lg:w-[74%] w-full mx-auto'>
        Unlocking the Power of Visual Storytelling for Your Business
		</p>

		<div
			class='flex lg:flex-row flex-col items-center justify-center py-12 gap-[31px]'>
			<div
				class='flex flex-col justify-center items-center space-y-6 bg-white pb-6'>
				<Image
					src={ptImg1}
					alt='images'
					class='lg:w-[377px] lg:h-[205px] md:h-[231px] h-[205px] w-full object-cover'
				/>
				<div class='text-xs leading-6'>
					<p class='text-[18px] font-bold leading-7'>
					Product	<span class='text-[#FF601F]'>Demonstaration</span> 
					</p>
					<p class='w-full mx-auto lg:px-4 md:px-20'>
                    Present your products in their best light with dynamic and
                     engaging demonstrations that showcase their features and benefits.
					</p>
				</div>
			</div>

			<div
				class='flex flex-col justify-center items-center space-y-6 bg-white pb-6 self-start'>
				<Image
					src={ptImg2}
					alt='images'
					class='lg:w-[377px] lg:h-[205px] md:h-[231px] h-[205px] w-full object-cover'
				/>
				<div class='text-xs leading-6'>
					<p class='text-[18px] font-bold leading-7'>
					Promotional	<span class='text-[#FF601F]'>Videos</span> 
					</p>
					<p class='w-full mx-auto lg:px-4 md:px-20'>
                    Craft compelling promotional videos that captivate your audience, drive conversions, and enhance brand visibility.
					</p>
				</div>
			</div>

			<div
				class='flex flex-col justify-center items-center space-y-6 bg-white pb-6'>
				<Image
					src={ptImg3}
					alt='images'
					class='lg:w-[377px] lg:h-[205px] md:h-[231px] h-[205px] w-full object-cover'
				/>
				<div class='text-xs leading-6'>
					<p class='text-[18px] font-bold leading-7'>
					Internal 	<span class='text-[#FF601F]'>Communications</span> 
					</p>
					<p class='w-full mx-auto lg:px-4 md:px-20'>
                    Foster strong internal connections through effective video communication, making sure your message resonates with your team.
					</p>
				</div>
			</div>
		</div>

		<div class='space-y-8'>
			<p>
            We believe that every video has a story to tell, and every story has a message that connects. Our corporate video services are not just about visuals; they're about 
            creating a lasting impact on your branding and marketing goals.
			</p>
			<button
				class='bg-[#FF601F] tracking-wider font-bold text-[12px] text-white p-3 px-6 rounded hover:transform hover:scale-105 hover:duration-700 flex m-auto'>
			<a href='/contact'>	<span>LET'S TALK</span> </a>
				<Image src={letsTalk} width={14} height={14} alt='lets talk' />
			</button>
		</div>
	</div>
	<Image
		src={potentialBg}
		width={474}
		height={392}
		alt='background svg dots'
		class='lg:block hidden absolute top-0 left-0'
	/>
</section>
