---
import { Image } from "astro:assets";
import { 
	Youtube,
	Airbnb,
	Linear,
	Paypal,
	Zoom,
	Uber
 } from "../../src/lib/images"
---

<section
	class='text-[#1D2939] bg-[#FF4D002B] opacity-95 w-full text-center lg:px-[160px] px-8 md:py-[54px] py-[80px] space-y-8'>
	<p class='font-medium'>Join 4,000+ companies already growing</p>
	<div
		class='flex justify-evenly items-center gap-y-12 lg:gap-x-8 md:gap-x-[99px] gap-x-0 flex-wrap'>
		<Image src={Airbnb} width={128} height={48} alt='sponsors' />
		<Image src={Linear} width={148} height={48} alt='sponsors' />
		<Image src={Paypal} width={143} height={48} alt='sponsors' />
		<Image src={Youtube} width={132} height={48} alt='sponsors' />
		<Image src={Uber} width={72} height={48} alt='sponsors' />
		<Image src={Zoom} width={98} height={48} alt='sponsors' />
	</div>
</section>
